# Analysis results for {{ filename }}
{% if issues %}
{% for issue in issues %}

## {{ issue.title }}
- SWC ID: {{ issue['swc-id'] }}
- Severity: {{ issue.severity }}
- Contract: {{ issue.contract | default("Unknown") }}
- Function name: `{{ issue.function }}`
- PC address: {{ issue.address }}
- Estimated Gas Usage: {{ issue.min_gas_used }} - {{ issue.max_gas_used }}

### Description

{{ issue.description.rstrip() }}
{% if issue.filename and issue.lineno %}
In file: {{ issue.filename }}:{{ issue.lineno }}
{% endif %}
{% if issue.code %}

### Code

```
{{ issue.code }}
```
{% endif %}
{% if verbose and issue.tx_sequence %}
--------------------
### Debugging Information:

{{ issue.tx_sequence }}

{% endif %}
{% endfor %}
{% else %}

The analysis was completed successfully. No issues were detected.
{% endif %}
